@font-face {
  font-display: swap;
  font-family: 'Source Han Sans KR VF';
  font-weight: 200 700;
  font-style: normal;
  src: local('Source Han Sans K VF'),
  local('SourceHanSansKVF'),
  url('SourceHanSansKR-VF.woff2') format('woff2');
}